@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important;
}

body { 
  font-family: 'Open Sans', sans-serif !important;
  color: rgb(46, 46, 46);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

/* STRUCTURE */

.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 0 15px;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 2px;
	padding: 10px;
}

.column:first-child { margin-left: 0; }
.column:last-child { margin-right: 0; }

footer {
	padding: 0 15px;
}


@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #ff6600d3;
    border-color:#ff6600d3
}

a.list-group-item, button.list-group-item {
    color: #000000;
}

.list-group-item:hover{
background:orange;
}

.col-md-4,.col-md-2 {
    background-color: #e3e3e3;
}

.col-md-6 {
    background-color: #f5f3f3;
}

.navbar-brand {
	text-transform:none;
}

.scrollable {
  height: 400px; 
  overflow:scroll;
  overflow-y:auto;
  -webkit-overflow-scrolling: touch;
}

.list-group{
	min-height: 300px;
    max-height: 380px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    padding-left: 5px;
    padding-right:5px
}

.panel {
	min-height: 450px;
	max-height: 450px;
}

.panel-primary {
border-color: #333333;
}

.panel-primary>.panel-heading {
color: #ffffff;
background-color: #ff6600d3;
border-color: #ff6600d3;
}

.btn {
  font-size:10px
}