@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { box-sizing: border-box; }

@font-face {
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Alternate Bold'), url('../fonts/DINAlternate-Bold.woff') format('woff');
    }

@font-face {
    font-family: 'Avenir Next I';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next'), url('../fonts/AvenirNextFont.ttf') format('truetype');
    }

h1, h2, h3, h4, h5, h6 {
  font-family: 'DIN Alternate', sans-serif !important;
}

hfilt {
  display: inline;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 24px;
}

body { 
  font-family: 'Avenir Next I', sans-serif !important;
  color: rgb(46, 46, 46);
  min-height: 100%;
  min-width: 100%;
  font-size: 1em;
  overflow-x: hidden;
}

html {
  height: -webkit-fill-available;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-wrap: nowrap;
  min-width: 100%;
  height: 100vh;
  position:fixed;
}

/* STRUCTURE */

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 3px solid #ff5400;
}

.wrapper {
	padding: 5px;
	max-width: 90vh;
	width: 95%;
	margin: 20px auto;
}
header {
	padding: 0 15px;
}

.container {
  width:100%;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	margin: 2px;
	padding: 10px;
}

.column:first-child { margin-left: 0; }
.column:last-child { margin-right: 0; }

footer {
	padding: 0 15px;
}

.site-footer {
  padding: 0 0px;
  text-align: center;
}


@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}

.display {
  font-size: 15px;
}

.navbar-brand {
float: left;
padding: 19.5px 35px;
}

.navbar .navbar-brand {
font-size: 30px;
line-height: 6vh;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
color: #000000;
background-color: #000;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #000;
    border-color:#000
}

.list-group-item.active, .list-group-item.active {
    z-index: 2;
    color: #ffffff;
    background-color: #000;
    border-color:#000
}

a.list-group-item, button.list-group-item {
    color: #000000;
    text-align: 'center';
}

.list-group-search .list-group-item:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.col-md-4,.col-md-2 {
    background-color: #e3e3e3;
}

.col-md-6 {
    background-color: #f5f3f3;
}

.navbar-brand {
	text-transform:none;
}

.scrollable {
  height: -webkit-fill-available;
  overflow-y:auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.list-group-filter .list-group-item {
  background-color: #f1f9fb;
  border-top: 1px solid #000000;
  border-left-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
}

.list-group-search{
  margin: 0px;
	height:100%;
  width:100%;
}

.list-group-filter{
  height:100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    padding-left: 5px;
    padding-right:5px
}

.panel {
	height:95%;
  margin-bottom: 2px;
  border-left: 2px solid;
  border-right: 2px solid;
  border-radius: 0px;
  margin-left: -1px;
}

.panel-primary {
border-color: #000;  
}

.panel-body {
  max-height: 70vh;
  padding: 10px;
}

.panel-body-search {
  min-height: 70vh;
  max-height: 70vh;
  padding: 0px;
}

.panel-body-profile {
  min-height: 70vh;
  max-height: 70vh;
}

.panel-primary>.panel-heading {
color: #000;
background-color: #000;
border: 0px solid;
text-align: center;
border-radius: 0 !important;
}

.btn {
  font-size:10px
}

.form-control {
  height: 40px;
}

.navbar-btns {
  display: flex;
  justify-content: flex-end;
  background-color: #000;
  margin-top: 0px;
}

.input-group-btn>.btn {
  height: 40px;
  background-color: #f54000;
}

.suggest-result {
cursor: pointer;
}

.flex-container-row {
  border: 0px solid rgb(0, 0, 0);
}

.navbar-default {
background-color: #000;
border-color: #000;
}

.navbar-btn {
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 6px;
  background-color: #ff5400;
  border-color:rgb(255, 255, 255);
}

.navbar-default .navbar-brand:hover {
  cursor: pointer;
}

.flex-container-row {
display: flex;
flex-flow: row nowrap;
align-items: stretch;
overflow: hidden;
border: 0px;
}

.truncate {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.flex-item-stretch {
flex-grow: 10000;
flex-shrink: 10000;
flex-basis: 0;
overflow: hidden;
}

.flex-item-rigid {
flex-grow: 0;
flex-shrink: 0;
}


/* buttons */
.badge {
  padding-bottom: 4px;
  vertical-align: 3px;
  font-size: 12px;
}

.searchbar_filter {
display: inline-block;
min-height: 28px;
line-height: 28px;
padding: 2px 5px;
background-color: #68932f;
border: 2px solid #68932f;
border-radius: 2px;
-moz-border-radius: 2px;
color: #d2ff96;
font-size: 14px;
margin-right: 5px;
margin-bottom: 5px;
text-decoration: none;
cursor: pointer;
}

.no-padding {
  padding:0;
}

.site-footer h5 {
  color: #ff5400;
  padding-left: 40px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}