{% extends "base.html" %}

<head>
    <title> {% block title %} TigerResearch - Page Not Found {% endblock %} </title>
</head>

{% block content %}

<body>
    <div class="container">
        <div class="row">
            <br>
            <div class="col-md-3" style="background-color:black"></div>
            <div class="col-md-5" style="background-color:black">
                <h1 style="color: white">File not found. </h1>
                <p><a href="{{ url_for('main.index') }}" style="font-size: 16px; color: rgb(19, 82, 255)">Back</a></p>
            </div>
            <div class="col-md-4" style="background-color:black"></div>
        </div>
    </div>
</body>


{% endblock %}