{% extends "base.html" %}

{% block content %}

<body>
    <div class="container" style="width:70%">
        <div class="row" style="height:30vh;">
            <div class="col-md-12 text-center align-middle" id="header-content">
                <br>
                <h1 style="color: white;">
                    <strong>About Tiger Research</strong>
                </h1>
                <br>
                <p style="font-size: 20px; color: white;">
                    TigerResearch is a student-created tool for easily finding professors to work with (and soon graduate students) based on interests,
                    former student feedback, and prior professor research. Especially useful for juniors/seniors looking for IW/Thesis projects as well.
                </p>
            </div>
                
        </div>
        <div class="row" style="height:40%">
            <div class="col-md-4 text-center align-middle" style="background-color: black">
                <img src="../static/assets/files/eric.png" class="rounded-circle" style="border: 1px solid #f54000;; border-radius: 2%"
                    height=200px>
                <p style="margin-top: 10px; font-size: 18px; color: #f54000;">Eric Ahn</p>
            </div>
            <div class="col-md-4 text-center align-middle" style="background-color: black">
                <img src="../static/assets/files/alex.jpg" class="rounded-circle" style="border: 1px solid #f54000;; border-radius: 2%" height=200px>
                <p style="margin-top: 10px; font-size: 18px; color: #f54000;">Alex Zhang</p>
            </div>
            <div class="col-md-4 text-center align-middle" style="background-color: black">
                <img src="../static/assets/files/vivek.png" class="rounded-circle" style=" border: 1px solid #f54000;; border-radius: 2%" height=200px>
                <p style="margin-top: 10px; font-size: 18px; color: #f54000;">Vivek Kolli</p>
            </div>
        </div>
        <div class="row" style="height:10vh;">
            <div class="col-md-4" style="background-color: black"></div>
            <div class="col-md-6" style="background-color: black">
            <p style="text-align: left; font-size: 20px; color: white;">
                <br>
                <strong>Advisor #1:</strong> Jérémie Lumbroso
                <br>
                <strong>Advisor #2:</strong> John Danner
            </p>
            </div>
            <div class="col-md-2" style="background-color: black"></div>
        </div>
    </div>

</body>

{% endblock %}