<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} TigerResearch {% endblock %} </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=News+Cycle:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="shortcut icon" href="{{ url_for('static', filename='re.ico') }}">
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.4/lottie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='assets/scripts/feedback.js')}}"></script>
        
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='assets/css/loading.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/likebutton.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/scrollbar.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/feedback.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/login.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/nanoscroller.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/filterbuttons.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/styles.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/buttons.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='assets/css/base.css')}}" rel="stylesheet" type="text/css">
</head>

<body style="background-color:rgb(0,0,0);">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar navbar-header col-md-3">
                <a href="{{ url_for('main.index') }}" class="navbar-brand" style="font-size: 40px;color:#ff5400;">
                    TigerResearch
                </a>
            </div>
            <div class="col-md-9 navbar-btns">
                <a href="{{ url_for('main.about') }}">
                    <div class="button-container-2">
                        <span class="mas">ABOUT</span>
                        <button type="button" name="Hover">About</button>
                    </div>
                </a>
                <a>
                    <div class="button-container-2">
                        <span class="mas">FEEDBACK</span>
                        <button type="button" name="Hover" onclick="triggerForm()" id="feedback-btn">Feedback</button>
                    </div>
                    <div class="form-popup" id="feedback-form">
                        <form action="" class="form-container">
                            <p>Have any feedback for us?</p>
                    
                            <input type="text" placeholder="I think..." name="response" required>
                            <button type="submit" class="btn">Send</button>
                        </form>
                    </div>
                </a>
                {% if user is defined and user != '' %}
                <a href="{{ url_for('main.logout') }}">
                    <div class="button-container-2">
                        <span class="mas">LOGOUT</span>
                        <button type="button" name="Hover">{{ user }}</button>
                    </div>
                </a>
                {% else %}
                <a href="{{ url_for('main.login') }}">
                    <div class="button-container-2">
                        <span class="mas">LOGIN</span>
                        <button type="button" name="Hover">Login</button>
                    </div>
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
    <hr>
    {% block content %} {% endblock %}
</body>

</html>