{% extends "base.html" %}

<head>
    <title> {% block title %} TigerResearch - Demo {% endblock %} </title>
</head>

{% block content %}
<body>
    <div class="container" style="width:70%">
        <div class="col-md-12 text-center align-middle" id="header-content">
            <br>
            <h1 style="color: white;">
                <strong>How to Use TigerResearch</strong>
            </h1>
            <br>
            
        </div>
        <center>
            <img src="../static/assets/files/Demo.png" class="rounded-circle" height=700px>
        </center>
        
    </div>

</body>

{% endblock %}
