<div class="list-group" id="list-tab" role="tablist">
    <a class="list-group-item list-group-item-action py-3 lh-tight" id="list-prof1-list" data-toggle="list"
        href="#list-prof1" role="tab" aria-controls="prof1">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Alex Zhang</strong>
            <small>NLP</small>
        </div>
        <div class="col-10 mb-1 small">Keywords: alpha, beta, gamma</div>
    </a>
    <a class="list-group-item list-group-item-action py-3 lh-tight" id="list-prof2-list" data-toggle="list"
        href="#list-prof2" role="tab" aria-controls="prof2">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Eric Ahn</strong>
            <small class="text-muted">ORF</small>
        </div>
        <div class="col-10 mb-1 small">Keywords: h,b,c</div>
    </a>
    <a class="list-group-item list-group-item-action py-3 lh-tight" id="list-prof3-list" data-toggle="list"
        href="#list-prof3" role="tab" aria-controls="prof3">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Eric Ahn 2</strong>
            <small class="text-muted">ORF</small>
        </div>
        <div class="col-10 mb-1 small">Keywords: h,b,c</div>
    </a>
    <a class="list-group-item list-group-item-action py-3 lh-tight" id="list-prof4-list" data-toggle="list"
        href="#list-prof4" role="tab" aria-controls="prof4">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <strong class="mb-1">Vivek Kolli 3</strong>
            <small class="text-muted">ORF</small>
        </div>
        <div class="col-10 mb-1 small">Keywords: h,b,c</div>
    </a>
</div>