{% extends "base.html" %}

{% block content %}
<body>

<div class="row" style="height:65vh">
<div class="col-md-12 text-center align-middle" id="header-content">
    <h1 style="font-family:Actor"><strong>Welcome to Tiger Research!</strong></h1>
    <h3>Easily find professors based on research interests and student feedback</h3>
    <a id="singlebutton" name="singlebutton" class="btn btn-default btn-lg text-center" href="/login">Click Here to Login</a>
    </div>
</div>
</div>

</body>

{% endblock %}